*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}
html, body, .wrapper {
    height: 100%;
    min-width: 850px;
}

/*头部标签*/
.warpper{
    width: 100%;
    height: 100%;
    position: relative;
}
.warpper .header{
    width: 100%;
    height: 70px;
    background-color: #354457; 
}
.warpper .header .logo {
    width: 200px;
    height: 70px;
    /* border: 1px solid black; */
    margin-left: 20px;
}
.warpper .header .logo img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.warpper .header .logo .logo-png{
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    color: #b3bcc5;
}

/*左侧导航栏*/
.warpper .left-menu{
    width: 200px;
    height: calc(100% - 70px);
    background-color: #4d5e70;
    font-size: 14px;
    line-height: 40px;
    color: #b3bcc5;
    float: left;
}
.warpper .left-menu .menu-list dt{
    font-weight: bold;
    padding-left: 10px;
}
.warpper .left-menu .menu-list dd{
    padding-left: 40px;
    cursor: pointer;
}
.warpper .left-menu .menu-list dd:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: #354457;
}
.warpper .left-menu .menu-list dd.active{
    background-color: #ddd;
    color: #354457;
}

/*右侧内容区域*/
.right-content{
    position: relative;
    float: right;
    width: calc(100% - 200px);
    height: calc(100% - 70px);
    background-color: #eee;
    min-width: 650px;
}

/*右侧新增学生区域*/
.right-content .add-student{
    display: none;
}
form {
    width: 400px;
    margin: 50px auto;
}
form label {
    width: 100px;
    display: inline-block;
    text-align: right;
    padding-right: 10px; 
    color: #000;
    font-size: 16px;
}
form label.label-sex {
    width: 20px;
    text-align: left;
}
form div {
    margin: 10px 0 10px 10px;
}
form .button {
    text-align: center;
    padding-right: 5px;
}
form .btn {
    padding: 5px 25px;
}

/*右侧学生列表区域*/
.right-content .list-student{
    display: none;
}
.list-student table{
    width: 100%;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.list-student thead{
    background-color: #e3e8ee;
    color: #646987;
    font-weight: bold;
}
.list-student tbody{
    background-color: #fff;
}
.list-student tbody tr td .btn{
    cursor: pointer;
    outline: none;
    padding: 3px 10px;
    color: #fff;
    border: none;
}
.list-student tbody tr td .btn.Lbtn{
    background-color: #5cb85c;
}
.list-student tbody tr td .btn.Rbtn{
    background-color: #d9534f;
}
.list-student tbody tr td .btn.Lbtn:hover{
    color: #fff;
    background-color: #398439;
    border-color: #255625; 
}
.list-student tbody tr td .btn.Rbtn:hover{
    color: #fff;
    background-color: #c9302c;
}
/*右侧弹窗区域*/
.right-content .dialog{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
}
.right-content .dialog .mask{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.right-content .dialog .dialog-content{
    width: 500px;
    height: 450px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -225px;
    
}

.right-content .dialog .dialog-content h2 {
    color: #000;
    text-indent: 1em;
    margin-top: 10px;
}
.right-content .dialog .dialog-content form{
    width: 400px;
    margin: 30px auto;
}
.right-content .same{
    display: block;
}
/* 页脚 */
.nav-page{
    width: 24opx;
    height: 40px;
    /* border: 1px solid black; */
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -121px;
    float: left;
}
.nav-page div{
    width: 60px;
    height: 40px;
    /* border: 1px solid black; */
    float: left;
} 
.nav-page .allpage{
    width: 120px;
    position: relative;
    overflow: hidden;
} 
.nav-page span{
    width: 60px;
    height: 40px;
    padding-left: 5px;
    line-height: 40px;
}
.nav-page li{
    width: 40px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    /* margin-left: 5px;
    margin-right: 5px;   */
}
.nav-page ul{
    width: 150px;
    height: 30px; 
    position: absolute;
    left: 0px;
    top: 5px;
}
.nav-page ul .act{
    color: #62d5c8;
}
.nav-page li:hover{
    color: #62d5c8;
}
.nav-page span:hover{
    color: #62d5c8;
}